td .telefone {
  color: rgb(0, 0, 0) !important;
}
.tratativa-quadrado {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  margin-right: 6px;
  vertical-align: middle;
}
